{% extends 'base.html' %}
{% load static %}
{% block tittle %}Inicio{% endblock %}

{% block body %}
    <div class="logo-container">
        <a href="{% url 'home' %}"><img src="{% static 'img/international_pokemon_logo.png' %}" class="pkm-logo"></a>
    </div>
    <div class="dexter">
        <form method="post" class="sub-container">
            {% csrf_token %}
            <input type="text" name="pokemon" placeholder="Busca tú Pokémon...">
        </form>
        <div class="dex-container">
            {% if number and name %}
                <img class="pkm-creature" src="{{sprite}}" alt="{{name}} sprite">
                <h3>
                    Nombre: {{name}}
                </h3>
                <h3>
                    Altura: {{height}} M.
                </h3>
                <h3>
                    Peso: {{weight}} Kg.
                </h3>
                <h3 class="type-md">
                    Tipo: 
                    <div class="type">
                        <p class="{{type1|lower}}-type type-txt">{{type1}}</p> {% if type2 %} y <p class="{{type2|lower}}-type type-txt">{{type2}}</p>{% endif %}
                    </div>
                </h3>

            {% else %}
            <div>
                <h3>
                    Escribe el Nombre o ID de tú Pokémon
                </h3>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}