* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Pixel Digivolve';
    src: url("/static/fonts/Pixel Digivolve.otf") format('opentype');
}

body {
    background: url("/static/img/301412-Pokemon.jpg") center fixed;
    background-size: cover;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
    text-rendering: geometricPrecision;
    width: auto;
    height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: subpixel-antialiased;
}

.logo-container {
    display: flex;
    height: 80px;
}

.logo-container a {
    margin: 10px auto;
    width: 150px;
}

.pkm-logo {
    width: 150px;
    margin: 0 auto;
}

.dexter {
    background-color: rgba(255, 0, 0, 0.603);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 60vh;
    height: 70vh;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    box-shadow: inset 0 0 200px rgba(255, 255, 255, 0.123);
    border-radius: 5px;
    border:2px solid rgba(255, 255, 255, 0.281);
}

.dexter::before {
    box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.06);
}

.dex-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dex-container img {
    background-color: rgba(0, 225, 255, 0.603);
    margin: 0 auto;
    width: 180px;
    justify-content: center;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: inset 0px 0px 16px 3px rgba(0,0,0,0.1);
    border:2px solid rgba(255, 255, 255, 0.281);
}

.dex-container h3 {
    margin-left: 30px;
    margin-top: 10px;
    font-size: 25px;
}

.sub-container {
    display: flex;
    margin: 20px auto;
    width: 100%;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.sub-container input[type=text] {
    width: 70%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('/static/img/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
}

.sub-container button {
    margin-left: 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.type {
    display: flex;
    flex-direction: row;
    width: 50%;
}

.type-md {
    display: flex;
    flex-direction: row;
}

.type-txt {
    padding: 8px;
    font-size: 15px;
    width: 30%;
    margin-left: 20px;
    margin-right: 15px;
    text-align: center;
    font-family: "Pixel Digivolve";
    color: white;
    text-shadow: 0px 0px 5px #000000;
    box-shadow: inset 0 0 200px rgba(255, 255, 255, 0.123);
    border-radius: 5px;
    border:2px solid rgba(255, 255, 255, 0.281);
}

.normal-type {
    background-color: #A8A77A;
}

.fire-type {
    background-color: #EE8130;
}

.water-type {
    background-color: #6390F0;
}

.electric-type {
    background-color: #F7D02C;
}

.grass-type {
    background-color: #7AC74C;
}

.ice-type {
    background-color: #96D9D6;
}

.fighting-type {
    background-color: #C22E28;
}

.poison-type {
    background-color: #A33EA1;
}

.ground-type {
    background-color: #E2BF65;
}

.flying-type { 
    background-color: #A98FF3;
} 

.psychic-type {
    background-color: #F95587;
}

.bug-type {
    background-color: #A6B91A;
}

.rock-type {
    background-color: #B6A136;
}

.ghost-type {
    background-color: #735797;
}

.dragon-type {
    background-color: #6F35FC;
} 

.dark-type {
    background-color: #705746;
} 

.steel-type {
    background-color: #B7B7CE;
} 

.fairy-type {
    background-color: #D685AD;
} 